@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
:root{
    --color-white: white;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37af65;
}
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white)
}
body ::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    max-width: 720px;
    width: 100%;
    margin: 3.125rem auto 0 auto;
}
.text-center{
    text-align: center;
}
h1{
    font-weight: 400;
    line-height: 1.2;
}
h1, p{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
p{
    font-weight: 200;
    line-height: 1.2;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 1.125rem;
    margin-top: 0px;
    margin-bottom: 0.5rem;
}
#description{
    padding-top: 5px;
    padding-bottom: 20px;
}
#survey-form{
    background-color: var(--color-darkblue-alpha);
    border-radius: 5px;
    padding: 2.5rem;
}
.form-group{
    width: 100%;
    margin: 0 auto 25px auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.form-control{
    display: block;
    width: 100%;
    color: #495057;
    height: 40px;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border 0.15s ease-in-out,;
    box-shadow: inset 0 0 0 2px black;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
}
input{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}
.input-radio{
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    min-width: 1.25rem;
    min-height: 1.25rem;
    
}
label{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

}
.form-group p{
    text-align: left;
    font-style: normal;
    font-weight: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#dropdown{
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
#mostLike{
    width: 100%;
    height: 35px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.input-checkbox{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-bottom: 5px;
    border: 15px solid black;
    box-shadow: inset ease-in-out;
}
.input-textarea{
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    min-height: 120px;
    resize: vertical;
    display: inline-block;
    padding: 15px;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}
#submit{
    width: 100%;
    min-height: 40px;
    background-color: green;
    color: white;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    display: block;
    padding: 12px;
    margin: 0 auto 15px auto;
}